* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('img/back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #3d1030;
}

.navbar {
    background-color: transparent;
    box-shadow: none;
}

.navbar .nav-link {
    color: #3d1030;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: #ffc8ffff;
}

.hero {
    padding: 150px 20px 300px;
    text-align: center;
}

.hero-title {
    color: #351328;
    font-family: 'Fredoka', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
}


.hero-text {
    color: #3d1030;
}

.hero-btn {
    background-color: #aa3faa;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
}

.hero-btn:hover {
    background-color: #cc39ac;
}

#contato h2 {
    color: #3d1030;
}


#sobre {
    background-color: transparent;
    color: #3d1030;
     margin-top: 150px;
}

#funcionalidades {
    background-color: transparent;
    color: #3d1030;
    margin-top: 250px;
    margin-bottom: 250px;
}

#funcionalidades .card {
    background: rgba(255, 255, 255, 0.5);
     color: #3d1030;
    border: none;
    border-radius: 12px;
    backdrop-filter: blur(6px);
}

form label {
    color: #3d1030;
}

form .form-control {
    color: #3d1030;
    border-radius: 8px;
    border: 1px solid #3d1030;
}

form .form-control::placeholder {
    color: #3d1030a8;
}

form button.btn {
    background-color: #3d1030 !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 10px 20px !important;
}

form button.btn:hover {
    background-color: #692456 !important;
}

@media (max-width: 768px) {
    body {
        padding-top: 10px;
    }
}
.hero {
    padding: 100px 20px 150px;
    }

#funcionalidades {
    margin-top: 120px;
    margin-bottom: 120px;
    }
